/vendor/
/node_modules/
/npm-debug.log
/yarn-error.log
*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
bootstrap/compiled.php
app/storage/
public_html/storage
public_html/hot
Homestead.json
Homestead.yaml
/.vagrant
Thumbs.db
